<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Generator</title>
    <style>
        body {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        }
    </style>
</head>
<body>
    <h1>URL Shortener</h1>
    <% if(locals.id){ %>
        <p>URL Generated http://localhost:3000/url/<%= id %></p>
    <% } %>
    <form action="/url" method="POST">
        <label for="url" >Enter Your URL</label>
        <input type="text" name="redirectURL" placeholder=" https://example.com" id="url"/>
        <button type="submit">Generate</button>
    </form>
    <form action="/url" method="get">
        <button type="submit">See your all URLs</button>
    </form>
</body>
</html>