<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: medium;
        }
    </style>
</head>
<body>
    <h1>Sign Up to Continue</h1>
    <form action="/user/signup" method= "POST">
        <label>Enter Your Name</label>
        <input name="name" required type="text"/>
        <br>
        <label>Enter Your Email</label>
        <input name="email" required type="email"/>
        <br>
        <label>Enter Your Password</label>
        <input name="password" required type="password"/>
        <button type="submit">Submit</button>
    </form>
    <br>
    <h3>
    <span>Already Regstered?</span>
    <a href="/login"><button>Login</button></a>
</h3>
</body>
</html>